{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ question['field_code'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="field_code">field_code</label>
    <input name="field_code" id="field_code"
      value="{{ request.form['field_code'] or question['field_code'] }}" required>
    <label for="question_text">question_text</label>
    <textarea name="question_text" id="question_text">{{ request.form['question_text'] or question['question_text'] }}</textarea>
    <label for="category_id">category_id</label>
    <select name="category_id" value="{{ request.form['category_id'] or question['category_id']}}">
      {% for category in categories %}
        <option value="{{category['question_category_id']}}" {% if category.question_category_id == question.category_id %} selected {% endif %}>{{category['category_display_name']}}</option>
      {% endfor %}
    </select>

    <label for="field_type_id">field_type_id</label>
    <select name="field_type_id" value="{{ request.form['field_type_id'] or question['field_type_id']}}">
      {% for field_type in field_types %}
        <option value="{{field_type['field_type_id']}}" {% if field_type.field_type_id == question.field_type_id %} selected {% endif %}>{{field_type['field_name']}}</option>
      {% endfor %}
    </select>

    <label for="form_id">form_id</label>
    <select name="form_id" value="{{ request.form['form_id'] or question['form_id']}}">
      {% for form in forms %}
        <option value="{{form['form_id']}}" {% if form.form_id == question.form_id %} selected {% endif %}>{{form['form_name']}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('dashboard.delete', id=question['question_id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
